body {
  background: #000;
  font-family: Arial;
  font: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fce082;
}
a:hover {
  color: #dedede;
  opacity: 0.9;
  text-decoration: none;
}
.container {
  max-width: 975px;
}
.row.mg0 {
  margin: 0;
}
/* Start icon */
.icon {
  position: absolute;
  right: 0;
  top: 2px;
  height: 12px;
}
.icon.tel {
  background: url(../img/icon/icon-tell.png) 0 0 no-repeat;
  width: 12px;
  right: 2px;
}
.icon.maps {
  background: url(../img/icon/icon-map.png) 0 0 no-repeat;
  width: 8px;
  right: 6px;
}
.icon.sound {
  background: url(../img/icon/icon-sound.png) 0 0 no-repeat;
  width: 16px;
}
.icon.sound-off {
  background: url(../img/icon/icon-sound-off.png) 0 0 no-repeat;
  width: 16px;
}
.ico-bar {
  background: url(../img/icon/ico-bar.png) 0 0 no-repeat;
  position: relative;
  width: 18px;
  height: 15px;
}
.nav-btn {
  display: none;
}
.facebook {
  position: relative;
  top: 5px;
  margin-left: 5px;
}
.facebook.mini {
  display: none;
}
.button-caret {
  background: url(../img/icon/caret.jpg) 0 0 no-repeat;
  content: "";
  width: 27px;
  height: 25px;
  position: absolute;
  right: 15px;
  z-index: 100;
}
.button-caret.date {
  background: url(../img/icon/caret-date.jpg) 0 0 no-repeat;
}
/* end icon */
/* Edit select box */
.select-design span.filter-option:after {
  background: none repeat scroll 0 0 #603913;
  border-radius: 0 ;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
}
.select-design span.caret {
  color: #fff;
  right: 9px !important;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
}
.select-design button.btn-default {
  border: none;
  background-color: #fff;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}
.bootstrap-select > .btn {
  color: #777;
  border-radius: 2px;
  height: 25px;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-bottom: 0 solid !important;
}
/* end select box */
/* Fancybox Style */
.fancybox-close {
  right: 7px;
  top: 7px;
}
.fancybox-skin {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px !important;
}
/* FancyBox Maps */
#maps-details {
  background: #603913;
  max-width: 670px;
  display: none;
  color: #000;
  width: 100%;
  padding: 5px;
  color: #FCE082;
}
#maps-details .fancy-wrapper {
  background: #754C24;
  border: 1px solid #8c6239;
  display: table;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
}
#maps-details .fancy-wrapper iframe {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #FCE082 !important;
}
#maps-details .fancy-wrapper h3 {
  font-family: 'DSU_CologneCondenseRegular';
  margin: 0;
  font-size: 26px;
  margin: 0 10px;
  text-transform: uppercase;
  border-bottom: 1px dotted #FCE082;
}
#maps-details .address-area {
  margin-top: 10px;
}
#maps-details .address-area h4 {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}
#maps-details .address-area p {
  color: #fff;
  display: inline-block;
  line-height: 24px;
}
/* End fancybox maps */
/* Start FancyBox Treatments */
#treatments-details {
  background: #603913;
  max-width: 670px;
  color: #000;
  width: 100%;
  padding: 5px;
  color: #FCE082;
}
#treatments-details .fancy-wrapper {
  background: #754C24;
  border: 1px solid #8c6239;
  display: table;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font-size: 12px;
  padding-bottom: 5px;
}
#treatments-details .fancy-wrapper ul {
  padding: 0;
  margin: 0 -15px;
}
#treatments-details .fancy-wrapper img {
  width: 100%;
  margin-top: 10px;
}
#treatments-details .fancy-wrapper h3 {
  font-family: 'DSU_CologneCondenseRegular';
  margin: 0;
  font-size: 26px;
  margin: 0 10px;
  text-transform: uppercase;
  border-bottom: 1px dotted #FCE082;
}
#treatments-details .fancy-wrapper .content p {
  margin-bottom: 10px;
  color: #fff;
  text-align: justify;
}
#treatments-details .fancy-wrapper .left-price {
  text-align: left;
}
#treatments-details .fancy-wrapper .right-price {
  text-align: right;
}
#treatments-details h4 {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin: 10px 0 5px;
}
/* End fncybox treatments */
/* End fancybox style */
/* Start Main-Header */
.page-wrapper {
  width: 100%;
  background: #251104;
  margin: 0 auto;
  display: block;
  min-height: 500px;
  padding-bottom: 30px;
  position: relative;
}
.page-wrapper .pattern {
  background: url("../img/header-pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.page-wrapper .header-page {
  margin-bottom: 10px;
  display: table;
}
.page-wrapper .header-page h4 {
  font-family: 'DSU_CologneCondenseRegular';
  font-size: 48px;
  color: #fce082;
  text-transform: uppercase;
}
.pattern {
  background: url(../img/header-pattern.png) 0 0 repeat;
  width: 100%;
  opacity: 0.5;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.15;
  z-index: 0;
}
.pattern.header {
  height: 102px;
}
.pattern.footer {
  height: 128px;
}
.pattern.item {
  height: 100%;
  opacity: 0.25;
  top: 0;
  border-radius: 5px;
}
#main-header,
.menu-link {
  position: relative;
  width: 100%;
  margin: auto 0;
}
#main-header {
  background: url(../img/bg-main-header.jpg) center 0 no-repeat;
  height: 111px;
}
#main-header .logo,
#main-header .logo-text {
  display: inline-block;
}
#main-header .logo {
  margin-top: 15px;
}
#main-header .logo img {
  width: 100%;
}
#main-header .logo-text {
  position: relative;
  top: 10px;
}
#main-header .logo-text img {
  width: 100%;
  max-width: 178px;
}
#main-header .contact ul,
#main-header .address ul,
#main-header .main-nav ul {
  padding: 0;
  margin: 0;
  float: right;
}
#main-header .contact ul li,
#main-header .address ul li,
#main-header .main-nav ul li {
  display: inline-block;
  position: relative;
}
#main-header .contact {
  font-family: Arial;
  font-size: 13px;
  margin-top: 5px;
}
#main-header .contact p {
  color: #fce082;
}
#main-header .contact li {
  padding: 0 25px 0 0;
}
#main-header .contact li.check {
  padding-right: 5px;
}
#main-header .contact li.check img {
  margin-left: 3px;
  position: relative;
  top: 2px;
}
#main-header .contact li:last-child {
  padding: 0;
}
#main-header .main-nav {
  font-family: 'DSU_CologneCondenseRegular';
  position: relative;
  font-size: 18px;
  right: -13px;
  margin-top: 10px;
  font-weight: bold;
}
#main-header .main-nav.menu-respon {
  display: none;
}
#main-header .main-nav li.nav-bar {
  text-align: center;
  padding: 0 0px;
  margin: 0 2px;
}
#main-header .main-nav li.nav-bar a {
  display: block;
  font-size: 21px;
  line-height: 19px;
  color: #dedede;
  padding: 0 2px;
}
#main-header .main-nav li.nav-bar.active,
#main-header .main-nav li.nav-bar:hover {
  border-radius: 5px;
  border: 1px solid #fce082;
  margin: 0 1px;
}
#main-header .main-nav li.nav-bar.active a,
#main-header .main-nav li.nav-bar:hover a {
  color: #fce082;
}
#main-header .main-nav li.nav-bar:hover ul.sub-menu {
  display: block;
}
#main-header .main-nav li.nav-bar.submenu:hover {
  border-radius: 5px 5px 0 0;
  border-bottom: #251104 !important;
  background: #251104;
  height: 25px;
  position: relative;
  border: 1px solid #fce082;
}
#main-header .main-nav li ul.sub-menu {
  background: none repeat scroll 0 0 #251104;
  border: 1px solid #fce082;
  display: none;
  left: -1px;
  margin: 0;
  padding: 2px 5px;
  position: absolute;
  text-align: left;
  top: 23px;
  width: 175px;
  border-radius: 0 5px 5px 5px;
  z-index: 500;
}
#main-header .main-nav li ul.sub-menu li {
  display: block;
}
#main-header .main-nav li ul.sub-menu li a {
  display: block;
}
#main-header .address {
  font-family: Arial;
  font-size: 13px;
  color: #fce082;
  text-align: right;
  margin-top: 15px;
}
#main-header .address span {
  display: inline-block;
}
.sub-menu:before {
  background: none repeat scroll 0 0 #251104;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: -4px;
  width: 53px;
  z-index: 9999;
}
.submenu:hover .sub-menu:before {
  display: block;
}
/* end Main-Header */
/* Start Main footer */
#main-footer {
  background: #180b02;
  color: #8c6239;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-size: 10px;
}
/* end Main Footer */
/* Start Home Page */
.page-wrapper .bannerscollection_zoominout.opportune .bottomNavButtonOFF {
  margin: 4px;
}
.page-wrapper .bannerscollection_zoominout.opportune .bottomNav {
  width: 80px !important;
  bottom: 0;
  margin: 15px auto 0 !important;
}
.textElement21_opportuneFullWidth h3,
.textElement22_opportuneFullWidth h3 {
  color: #fce082;
  font-family: "DSU_CologneCondenseRegular";
  font-size: 48px;
  text-transform: none;
  margin: 0;
}
.menu-link {
  background: url(../img/bg-footer.jpg) left 0 no-repeat;
  height: 128px;
  line-height: 128px;
  font-family: 'DSU_CologneRegular';
  color: #fce082;
}
.menu-link .item {
  text-align: center;
}
.menu-link span.menu-bar {
  text-align: center;
  width: 192px;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 700;
  font-size: 18px;
  padding: 15px;
  box-sizing: border-box;
}
.menu-link span.menu-bar.active a:before,
.menu-link span.menu-bar:hover a:before {
  background-position: -26px 0;
}
.menu-link span.menu-bar.active a:after,
.menu-link span.menu-bar:hover a:after {
  background-position: -26px -20px;
}
.menu-link span.menu-bar.active a {
  color: #dedede;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.menu-link span.menu-bar a {
  display: block;
  text-transform: uppercase;
  border-top: 1px solid #fce082;
  border-bottom: 1px solid #fce082;
  line-height: 50px;
}
.menu-link span.menu-bar a:hover {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  transition-duration: 0.3s;
}
.menu-link span.menu-bar a:before,
.menu-link span.menu-bar a:after {
  content: "";
  background: url(../img/icon/hover-menu.png) 0 0 no-repeat;
  width: 25px;
  height: 20px;
  position: absolute;
  left: 44%;
}
.menu-link span.menu-bar a:before {
  background-position: 0 0;
  top: -4px;
}
.menu-link span.menu-bar a:after {
  background-position: 0 -20px;
  bottom: -4px;
}
.slide-banner {
  border-top: 2px solid #fce082;
  border-bottom: 2px solid #fce082;
  margin: 0 auto 40px;
}
/* end Home Page */
/* Start About Us */
.box-content {
  line-height: 20px;
  color: #fff;
  font-size: 13px;
  text-align: justify;
}
.box-content span {
  color: #fce082;
}
.box-image {
  margin-top: 20px;
}
.box-image img {
  width: 100%;
  border: 1px solid #fce082;
}
/* end About Us */
/* Start Treatments */
.item-products {
  font-family: Arial;
  display: block;
  background: #593008;
  position: relative;
  border-radius: 8px;
  border: 1px solid #8c6239;
  min-height: 368px;
  z-index: 500;
  color: #fce082;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
}
.item-products ul,
.item-products li {
  padding: 0;
  margin: 0;
}
.item-products img {
  width: 100%;
  border: 1px solid #fce082;
  border-radius: 5px;
  max-width: 268px;
}
.item-products .content {
  color: #fff;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
}
.item-products .content h3 {
  color: #fce082;
  font-size: 13px;
  font-weight: bold;
  margin: 8px 0 5px;
}
.item-products .content > a {
  position: relative;
}
.item-products .left-time {
  text-align: left;
}
.item-products .right-price {
  text-align: right;
}
/* end Treatments */
/* Start Gallery */
.page-wrapper .row.mg0 {
  margin: 0;
}
.page-wrapper .fix-slide {
  max-width: 1040px;
  margin: 35px auto 0;
  display: block;
  max-height: 545px;
  position: relative;
}
.page-wrapper .fix-slide img {
  margin: 0;
  height: 100%;
  width: 97%;
}
/* end Gallery */
/* Start Testimony */
#cover {
  background: url(../img/cover.jpg) 0 0 no-repeat;
}
.nav-control {
  margin: 20px 0;
}
.page-design {
  border: 1px solid #754c24;
}
.page-design.slide {
  background: none repeat scroll 0 0 #1d1d1d;
  border: 2px solid #754c24;
  margin: 0 5px;
  padding: 5px;
}
.page-design img {
  width: 100%;
}
.wrap-book {
  background: #603913;
  padding: 10px;
  border: 1px solid rgba(252, 224, 130, 0.6);
}
.wrap-book .wowbook-page-number {
  color: #fff;
  font-size: 12px;
}
#owl-demo2 {
  display: none !important;
}
/* end Testimony */
/* Start Offers */
.img-respon img {
  width: 100%;
  border: 1px solid #fce082;
  max-width: 943px;
}
.content-offers {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  word-wrap: break-word;
}
.content-offers .header-offers h3 {
  font-family: 'DSU_CologneCondenseRegular';
  font-size: 35px;
  color: #fce082;
}
.content-offers .content p {
  color: #fff;
  font-size: 16px;
}
.content-offers .content span {
  display: block;
  color: #fce082;
  font-size: 16px;
  margin-bottom: 5px;
}
.content-offers .content.list ul,
.content-offers .content.list li {
  margin: 0;
  padding: 0;
}
.content-offers .content.list ul {
  margin-bottom: 10px;
}
.content-offers .content.list li {
  color: #fff;
  line-height: 25px;
  padding-left: 15px;
}
.content-offers .content.list li:before {
  content: "•";
  color: #fff;
  position: absolute;
  left: 0;
  font-size: 16px;
}
/* end Offers */
/* Start FAQS */
.content-faqs {
  display: table;
  margin-top: 10px;
  text-align: left;
}
.content-faqs span {
  display: block;
  color: #fce082;
  font-size: 16px;
  margin-bottom: 5px;
}
.content-faqs p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}
/* end FAQS */
/* Start Contacts */
.form-box .form-group {
  font-family: Arial;
}
.form-box .form-group .control-label {
  position: relative;
  text-align: left;
  font-size: 13px;
  color: #fce082;
  text-transform: uppercase;
  padding-right: 0;
}
.form-box .form-group .control-label:after {
  content: ":";
  position: absolute;
  right: 0;
}
.form-box .form-group .form-control:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(252, 224, 130, 0.6);
}
.form-box .form-group input,
.form-box .form-group select {
  height: 25px;
  padding: 2px 10px;
  border-radius: 2px;
  position: relative;
}
.form-box .form-group textarea {
  resize: none;
  border-radius: 2px;
}
.form-box .form-group select {
  padding: 2px 20px 2px 5px;
}
.contact-box {
  color: #fff;
  font-size: 13px;
  margin-bottom: 20px;
}
.contact-box .maps-area iframe {
  width: 100%;
}
.contact-box .address-area {
  line-height: 20px;
}
.contact-box .address-area h4 {
  font-size: 20px;
  color: #fce082;
  text-transform: uppercase;
}
.contact-box .address-area span {
  color: #fce082;
}
.contact-box .address-area span.text {
  float: left;
  margin-right: 5px;
}
.contact-box .address-area .trading-hourse span {
  margin-top: 10px;
  display: block;
}
.contact-box .address-area .trading-hourse p {
  margin: 0;
}
/* end Contacts */
.bannerscollection_zoominout.opportune .bottomNavButtonOFF {
  margin: 5px !important;
}
.bannerscollection_zoominout.opportune .bottomNav {
  padding: 0px !important;
}
.bottomNav .bottomNavButtonOFF:first-child {
  margin-left: -4px !important;
}
.price-details {
  display: table;
  width: 100%;
}
.price-details .time {
  float: left;
}
.price-details .price {
  float: right;
}
#youtube-player-container {
  visibility: hidden;
}
.btn-warning {
  background-color: #fce082;
  color: #603913;
}
.set-pd {
  padding-left: 10px !important;
}
@media (max-width: 992px) {
  #main-header .main-nav li.nav-bar a {
    line-height: 26px !important;
    padding: 0 0 0 15px;
  }
  #main-header .main-nav.menu-respon {
    background: none repeat scroll 0 0 #552c0e;
    border-bottom: 1px solid #fce082;
    border-top: 1px solid #fce082;
    display: none;
    position: absolute;
    top: 154px;
    z-index: 999;
    width: 100%;
    margin-top: 0;
  }
  #main-header .main-nav.menu-respon ul {
    margin: 0;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar {
    padding: 0;
    text-align: left;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar a:hover {
    border-radius: 0;
    display: block;
    opacity: 0.5;
    padding: 0 0 0 7px;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar.active a {
    padding: 0 0 0 7px;
    border-radius: 0;
    border: none;
    line-height: 26px;
  }
  #main-header .main-nav.menu-respon ul ul.sub-menu {
    margin: 0;
    display: block;
    position: relative;
  }
  #main-header .main-nav.menu-respon ul ul.sub-menu li.active {
    border: none;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar > a:hover {
    border: none;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar {
    width: 100%;
  }
  .nav-btn {
    background-color: #946b4d;
    border-radius: 2px;
    top: 21px;
    color: #0961ba;
    display: block;
    font-size: 14px;
    padding: 8px;
    position: relative;
    right: 0;
    z-index: 500;
    float: right;
  }
  .nav-btn .ico-bar {
    display: block;
  }
  #main-header {
    margin-bottom: 42px;
  }
  #main-header .contact {
    margin-top: 10px;
  }
  #main-header .address span {
    line-height: 22px;
  }
  .nav-bar.submenu.active > a {
    border: none !important;
  }
  #main-header .main-nav li ul.sub-menu {
    width: 185px;
  }
  #main-header .main-nav {
    display: none;
  }
  #main-header .main-nav.menu-respon {
    display: none;
  }
  #main-header .main-nav.menu-respon ul {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar {
    border: none;
    margin: 0;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar a {
    padding: 0 6px;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar.active > a {
    border: 1px solid #dedede;
    border-radius: 5px;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar a:hover {
    border-radius: 5px;
    border: 1px solid #dedede;
    margin: 0 -1px;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar.submenu a:hover {
    border: none;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar .sub-menu {
    top: 20px;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar .sub-menu a {
    color: #dedede;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar .sub-menu a:hover {
    color: #fce082;
  }
  #main-header .main-nav.menu-respon ul .sub-menu:before {
    width: 59px;
    top: -5px;
  }
}
@media (max-width: 767px) {
  #owl-demo .owl-controls.clickable .owl-pagination {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: -30px !important;
    display: none !important;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar .sub-menu {
    position: relative;
    float: none;
    text-align: left;
    top: 0 !important;
    width: 100%;
    border: none;
    background: none;
    padding: 0 0 0 10px;
  }
  #main-header .main-nav li.nav-bar.submenu:hover {
    border-radius: 0;
    border: none;
  }
  #main-header .main-nav li.nav-bar.submenu:hover {
    background: none;
  }
  #main-header .main-nav.menu-respon ul li.nav-bar .sub-menu:before {
    background: none;
    height: auto;
    content: none;
  }
  #main-header .main-nav {
    right: 0;
  }
  #main-header .logo img,
  #main-header .logo-text img {
    width: 70%;
  }
  #main-header .logo {
    text-align: center;
  }
  #main-header .logo-text {
    text-align: left;
  }
  #main-header .address {
    display: none;
  }
  #main-header .contact {
    margin-top: 0;
    text-align: center;
  }
  #main-header .contact ul {
    width: 100%;
  }
  .box-logo {
    text-align: center;
  }
  .btn-home {
    display: block !important;
  }
}
@media (max-width: 320px) {
  .page-wrapper .pxs_container {
    height: 240px !important;
  }
  .page-wrapper .pxs_container {
    height: 240px !important;
  }
  .page-wrapper .pxs_slider .fix-slide {
    left: 0;
  }
}
@media (max-width: 480px) {
  .page-wrapper li .fix-slide {
    left: 2%;
  }
  body {
    min-width: 320px;
  }
  #main-header .contact .facebook {
    display: none;
  }
  #main-header .contact .facebook.mini {
    display: inline-block;
  }
  .page-wrapper .pxs_container {
    height: 330px !important;
  }
  .page-wrapper .pxs_container {
    height: 330px !important;
  }
  .pxs_navigation span {
    height: 34px;
    bottom: 5% !important;
    width: 30px !important;
  }
}
/* Styling Pagination*/
.owl-pagination {
  text-align: center;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: alpha(opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #8c6239;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: alpha(opacity=100);
  /*IE7 fix*/
  opacity: 1;
}
@media (max-width: 767px) {
  .textElement21_opportuneFullWidth,
  .textElement22_opportuneFullWidth,
  .bannerControls,
  .thumbsHolderWrapper,
  .mycanvas {
    display: none;
  }
  #main-header .logo {
    margin-top: 8px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .page-wrapper {
    min-height: 841px !important;
  }
}
@media (max-width: 768px) {
  .page-wrapper .pxs_container {
    height: 470px;
  }
  .page-wrapper .pxs_container {
    height: 470px;
  }
}
@media (max-width: 1023px) {
  #container {
    display: none;
  }
  #owl-demo2 {
    display: block !important;
  }
  .page-wrapper .bannerscollection_zoominout.opportune .bottomNav {
    padding-left: 8px;
  }
  .page-wrapper {
    min-height: 320px;
  }
  .pxs_navigation span {
    top: auto;
    bottom: 5%;
    width: 8%;
  }
  .pxs_navigation span.pxs_next {
    position: absolute;
    right: 38% !important;
    margin: 0;
  }
  .pxs_navigation span.pxs_prev {
    position: absolute;
    left: 38% !important;
  }
  .pxs_thumbnails {
    display: none;
  }
  .pxs_container {
    height: 600px;
  }
  .pxs_bg {
    height: 600px;
  }
  .page-wrapper .fix-slide {
    left: 4%;
  }
  .page-wrapper .fix-slide img {
    width: 90%;
  }
  .textElement21_opportuneFullWidth h3 {
    margin: 20px;
  }
}
@media (min-width: 1601px) {
  .page-wrapper {
    min-height: 800px;
  }
}
@media (min-width: 1336px) and (max-width: 1600px) {
  .page-wrapper {
    min-height: 627px;
  }
  ul.pxs_slider {
    top: 35px;
  }
  .pxs_navigation span {
    top: 44%;
  }
}
#main-header .main-nav li ul.sub-menu li a {
  color: #dedede;
}
#main-header .main-nav li ul.sub-menu li a:hover {
  color: #fce082;
}
.pxs_thumbnails {
  display: none;
}
#owl-demo2 .owl-controls.clickable {
  margin-top: 15px;
}
#owl-demo2 .owl-controls.clickable .owl-buttons .owl-prev {
  font-family: "DSU_CologneCondenseRegular";
  color: #fce082;
  background: rgba(255, 255, 255, 0.1);
  width: 70px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
#owl-demo2 .owl-controls.clickable .owl-buttons .owl-prev:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
#owl-demo2 .owl-controls.clickable .owl-buttons .owl-next {
  font-family: "DSU_CologneCondenseRegular";
  color: #fce082;
  background: rgba(255, 255, 255, 0.1);
  width: 70px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  float: right;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
#owl-demo2 .owl-controls.clickable .owl-buttons .owl-next:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
#owl-demo .owl-controls.clickable {
  left: 0;
  position: absolute;
  right: 0;
  top: 85px;
}
#owl-demo .owl-controls.clickable .owl-pagination {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
#owl-demo .owl-controls.clickable .owl-buttons .owl-prev,
#owl-demo .owl-controls.clickable .owl-buttons .owl-next {
  width: 18px;
  height: 50px;
  margin-top: 20px;
  position: absolute;
  top: 0;
}
#owl-demo .owl-controls.clickable .owl-buttons .owl-prev {
  float: left;
  margin-left: 8px;
  left: 0;
}
#owl-demo .owl-controls.clickable .owl-buttons .owl-next {
  float: right;
  margin-right: 8px;
  right: 0;
}
.btn-home {
  position: absolute;
  right: 40px;
  top: 47px;
  cursor: pointer;
  display: none;
}
.btn-home img {
  width: 31px;
  height: 31px;
}
.btn-home img:hover {
  opacity: 0.7;
}
#main-header .main-nav.menu-respon .nav-bar.hassub > ul {
  padding-left: 15px;
  margin: 5px;
}
#main-header .main-nav.menu-respon .nav-bar.hassub > ul > li {
  display: table;
  color: #fff;
}
#main-header .main-nav.menu-respon .nav-bar.hassub > ul > li:hover a {
  border: none;
}
#main-header .main-nav.menu-respon.fix-list {
  left: 0;
}
#main-header .main-nav.menu-respon.fix-list ul li:hover a {
  border: none;
}
#main-header .main-nav.menu-respon.fix-list ul li.active {
  border: none;
}
#main-header .main-nav.menu-respon.fix-list ul li.active a {
  border: none;
  margin: 0;
}
